<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Blog mais recente</h5>
            <h1 class="mb-0">Leia os artigos mais recentes de nossa postagem no blog</h1>
        </div>
        <div class="row g-5">
            <ng-container *ngIf="!loading; else loadingTemplate">
                <div *ngFor="let blog of blogs; let index = index" class="col-lg-4 wow slideInUp">
                    <div class="blog-item bg-light rounded overflow-hidden">
                        <div class="blog-img position-relative overflow-hidden">
                            <img class="img-fluid border-1 border-top border-start border-end border-gray" [src]="blog.imageUrl || '../../../assets/img/blog-2.jpg'" alt="" style="height: 25vh; width: 100vh;" />
                            <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" [href]="'blog?category=' + blog.categoryName">
                                {{ blog.categoryName }}
                            </a>
                        </div>
                        <div class="p-4 border-2 border border-gray">
                            <div class="d-flex mb-3">
                                <small class="me-3">
                                    <i class="far fa-user text-primary me-2"></i>
                                    {{ blog.userName }}
                                </small>
                                <small>
                                    <i class="far fa-calendar-alt text-primary me-2"></i>
                                    {{ blog.date }}
                                </small>
                            </div>
                            <h4 class="mb-3">{{ blog.title }}</h4>
                            <p>{{ blog.subtitle }}</p>
                            <a class="text-uppercase" [href]="'detail?id=' + blog.id">
                                Leia Mais <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-template #loadingTemplate>
                <app-loading/> 
            </ng-template>
        </div>
    </div>
</div>
