<app-header [title]="'DESENVOLVIMENTO WEB'" [caption]="'Serviços'" [href]="'service'" />
<div class="section-title text-center position-relative pb-3 mb-5 mx-auto container" [style.max-width]="'600px'">
    <h5 class="fw-bold text-primary text-uppercase" [style.text-align]="'justify'"> Desenvolvimento web é o processo de criação de sites, aplicativos e sistemas da web. </h5>
</div>
<div>
    <h5 class="position-relative pb-3 mb-5 mx-auto container" [style.text-align]="'justify'" [style.max-width]="'900px'">
        Manter seu site atualizado com as tecnologias mais recentes é essencial para oferecer a melhor experiência possível aos seus usuários e manter-se competitivo em um mercado em constante evolução.
    </h5>
</div>
<app-quote />
<app-footer />