<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
        <a href="/" class="navbar-brand p-0">
            <h1 class="m-0 fst-italic"><span class="text-danger">// </span>NODOT</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="/" class="nav-item nav-link">Início</a>
                <a href="/#about-us" class="nav-item nav-link">Sobre</a>
                <a href="service" class="nav-item nav-link">Serviços</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Blog</a>
                    <div class="dropdown-menu m-0">
                        <a href="blog" class="dropdown-item">Blog Recente</a>
                    </div>
                </div>
            </div>
            <a href="contact" class="btn btn-primary py-2 px-4 ms-3">Entre em contato</a>
        </div>
    </nav>

    <div class="container-fluid bg-primary py-5 bg-header" [style.margin-bottom]="'90px'">
        <div class="row py-5">
            <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-4 text-white animated zoomIn">{{ title }}</h1>
                <a href="/" class="h5 text-white">Início</a>
                <i class="far fa-circle text-white px-2"></i>
                <a [href]="href" class="h5 text-white">{{ caption }}</a>
            </div>
        </div>
    </div>
</div>