<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
        <a href="/" class="navbar-brand p-0">
            <h1 class="m-0 fst-italic text-light"><span class="text-danger">// </span>NODOT</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="/" class="nav-item nav-link active">Início</a>
                <a href="/#about-us" class="nav-item nav-link">Sobre</a>
                <a href="service" class="nav-item nav-link">Serviços</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Blog</a>
                    <div class="dropdown-menu m-0">
                        <a href="blog" class="dropdown-item">Blog Recente</a>
                    </div>
                </div>
            </div>
            <a href="contact" class="btn btn-primary py-2 px-4 ms-3">Entre em contato</a>
        </div>
    </nav>

    <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" [style.min-height]="'100vh'" [style.max-height]="'100vh'" src="../../../assets/img/home1.png" alt="home-server-1"/>
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" [style.max-width]="'100%'">
                        <h5 class="text-white text-uppercase mb-3 animated slideInDown">INFRAESTRUTURA & SEGURANÇA</h5>
                        <h1 class="display-1 text-white mb-md-4 animated zoomIn">NODOT</h1>
                        <a href="#about-us" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Sobre Nós</a>
                        <a href="contact" class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight">Contate-nos </a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" [style.min-height]="'100vh'" [style.max-height]="'100vh'" src="../../../assets/img/home2.png" alt="home-server-2"/>
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" [style.max-width]="'100%'">
                        <h2 class="display-1 text-white mb-md-4 animated zoomIn"></h2>
                        <h5 class="text-white text-uppercase mb-3 animated slideInDown container">oferecemos serviços de tecnologia excepcionais para ajudá-lo a alcançar seus objetivos de negócios com segurança.</h5>
                        </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
