<app-indexheader/>
<app-about/>
<app-features/>
<app-service-tpt [theme]="'dark'"/>
<app-quote/>
<app-indexblog/>

<h3 class="d-flex justify-content-center text-primary text-center position-relative mx-auto">PROFISSIONAIS RECONHECIDOS </h3>

<div class="d-flex justify-content-center align-items-center mb-5 mt-4" data-wow-delay="0.1s">
    <div class="pb-5">
        <img class="mx-4" src="../../../assets/img/DCPT.png" alt="DCPT-logo" [style.min-height]="'100px'" [style.width]="'250px'"/>
    </div>
    <div class="pb-5">
        <img class="mx-4" src="../../../assets/img/INSS.png" alt="INSS-logo" [style.min-height]="'120px'" [style.width]="'200px'"/>
    </div>
    <div class="pb-5">
        <img class="mx-4" src="../../../assets/img/IBSEC.jpg" alt="IBSEC-logo" [style.min-height]="'120px'" [style.width]="'200px'"/>
    </div>
</div>
<app-footer/>
