<nav aria-label="..." class="mx-4">
    <ul class="pagination pagination-md">
      <li class="page-item bg-dark" aria-current="page">
        <a class="page-link bg-dark" routerLink="/blog-creation">Blogs</a>
      </li>
      <li class="page-item active">
        <a class="page-link" routerLink="/users-table">Usuários</a>
      </li>
      <li class="page-item">
        <a class="page-link bg-dark" routerLink="/category-creation">Categorias</a>
      </li>
    </ul>
  </nav>
  <div *ngIf="!error; else usersTable">
    <app-error [status]="'500'"></app-error>
  </div>
  <ng-template #usersTable>
    <table id="table" class="table bg-dark text-light table-hover" [style.border]="'8px solid #b3b3b3'">
      <thead>
        <tr>
          <th (click)="sortTable('id')" data-column="0" [style.cursor]="'pointer'">ID
            <i class="bi" [ngClass]="{'bi-sort-up': isAscending, 'bi-sort-down': !isAscending}"></i>
          </th>
          <th data-column="1">Name
            <i class="bi bi-sort"></i>
          </th>
          <th data-column="2">Email
            <i class="bi bi-sort"></i>
          </th>
          <th data-column="3">Admin
            <i class="bi bi-sort"></i>
          </th>
          <!-- Add more columns here if needed -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>
            <i *ngIf="user.admin" class="bi bi-check-square"></i>
            <i *ngIf="!user.admin" class="bi bi-square"></i>
          </td>
          <!-- Add more columns here if needed -->
        </tr>
      </tbody>
    </table>
  </ng-template>
  