<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s" id="about-us">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title position-relative pb-3 mb-5">
                    <h5 class="fw-bold text-primary text-uppercase">Sobre nós</h5>
                    <h1 class="mb-0">A melhor solução de TI </h1>
                </div>
                <p class="mb-4">Com uma equipe altamente capacitada, soluções inovadoras e personalizadas, e comprometimento com a excelência, somos a melhor escolha em tecnologia, oferecendo aos nossos clientes uma vantagem competitiva no mercado.</p>
                <div class="row g-0 mb-3">
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                        <h5 class="mb-3"><i class="bi bi-check text-primary me-3"></i>Qualificado</h5>
                        <h5 class="mb-3"><i class="bi bi-check text-primary me-3"></i>Pessoal profissional</h5>
                    </div>
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                        <h5 class="mb-3"><i class="bi bi-check text-primary me-3"></i>Suporte 24/7</h5>
                        <h5 class="mb-3"><i class="bi bi-check text-primary me-3"></i>Preços justos</h5>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-4 wow fadeIn" data-wow-delay="0.6s">
                    <div class="bg-primary d-flex align-items-center justify-content-center rounded" [style.width]="'60px'" [style.height]="'60px'">
                        <i class="bi bi-telephone-fill text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="mb-2">Ligue para tirar qualquer dúvida</h5>
                        <h4 class="text-primary mb-0">(61) 9 8303-5827</h4>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-4 wow fadeIn" data-wow-delay="0.6s">
                    <div class="bg-primary d-flex align-items-center justify-content-center rounded" [style.width]="'60px'" [style.height]="'60px'">
                        <i class="bi bi-envelope-fill text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="mb-2">E-mail</h5>
                        <h4 class="text-primary mb-0">nodotenterprise@outlook.com</h4>
                    </div>
                </div>
                <a href="#quote" class="btn btn-primary py-3 px-5 mt-3 wow zoomIn" data-wow-delay="0.9s">Solicite um Orçamento</a>
            </div>
            <div class="col-lg-5" [style.min-height]="'500px'">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" alt="Sobre" data-wow-delay="0.9s" src="../../../assets/img/about.jpg" [style.object-fit]="'cover'"/>
                </div>
            </div>
        </div>
    </div>
</div>